@model CoD_Command_Center.Models.LeaderBoard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaderBoard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardRanking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardRanking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KillCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KillCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
