@model CoD_Command_Center.Models.Codevent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Codevent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
